body {
	background:$yellow;
	// min-height: 100vh;
}
h1, h2, h3, p {
	margin:0;
	line-height:1;
}

h1, .h1 {
	font-family:$krona;
	text-transform:uppercase;
	font-size:17px;
	letter-spacing:14px;
}
h2, .h2 {
	font-family:$six;
	text-transform:uppercase;
	font-size:10rem;
	letter-spacing:14px;
}
h3, .h3 {
	font-family:$six;
	text-transform:uppercase;
	font-size:2.50rem;
	letter-spacing:5px;
}
p {
	font-family:$sans;
}


//Sponsors & Date
section.sponsors-date {
	.sponsors {
		width:100%;
		margin-top:2.5rem;
	}
	.date {
		width:100%;
		max-width:300px;
		float:right;
	}
}

//Opening
section.opening {
	margin-top:8rem;
	margin-bottom:8rem;
}

footer {
	background-color:$gray;
	.important-dates {
		display:flex;
		align-content: center;
		justify-content: center;
		.important {
			width:20%;
		}
	}
}