body {
	background:$yellow;
	min-height: 100vh;
}
h1, h2, h3, p {
	margin:0;
	line-height:1;
}

h1, .h1 {
	font-family:$krona;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:10px;
}
h2, .h2 {
	font-family:$six;
	text-transform:uppercase;
	font-size:6rem;
	letter-spacing:10px;
}
p {
	font-family:$sans;
}


//Sponsors & Date
section.sponsors-date {
	.sponsors {
		width:100%;
		margin-top:2.5rem;
	}
	.date {
		width:100%;
		max-width:300px;
		float:right;
	}
}

//Opening
section.opening {

}